# Ignorar archivos y carpetas de Python compilados
__pycache__/
*.py[cod]
*$py.class

# ...entradas anteriores...
Queries/Docuemtos por id_cliente.sql
Queries/excedentes con nombre del cliente.sql
Queries/excetende  con nombre de cliente.sql
