<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <meta content="" name="">
  <meta content="" name="">

  <!-- Favicons -->
  <link href="{% static 'app_website/custom-files/assets_m1/img/favicon.png' %}" rel="icon">
  <link href="{% static 'app_website/custom-files/assets_m1/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'app_website/custom-files/assets_m1/vendor/bootstrap/css/bootstrap.min.css' %}"
    rel="stylesheet">
  <link href="{% static 'app_website/custom-files/assets_m1/vendor/bootstrap-icons/bootstrap-icons.css' %}"
    rel="stylesheet">
  <link href="{% static 'app_website/custom-files/assets_m1/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'app_website/custom-files/assets_m1/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'app_website/custom-files/assets_m1/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'app_website/custom-files/assets_m1/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'app_website/custom-files/assets_m1/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'app_website/custom-files/assets_m1/css/style.css' %}" rel="stylesheet">

  <!-- Estilos adicionales de pagina hija-->
  {% block styles %}
  {% endblock styles %}
</head>

<body class="index-page">

  <!-- ======= Header ======= -->

  <header id="header" class="header fixed-top d-flex align-items-center" style="background-color: rgb(1, 31, 58);">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'app_website/custom-files/assets_m1/img/logo1.png' %}" alt="" data-aos="fade-in">
        <span class="d-none d-lg-block">M1 Cobranza</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

  </header><!-- End Header -->

  <main class="main">
    <!-- Hero Section -->
    <!-- <section id="hero" class="hero section light-background"> -->

    <!-- ======= Login Section ======= -->
    <div class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center ">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <!-- <span class="d-none d-lg-block">M1 Cobranza</span> -->
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Datos de ingreso</h5>
                  <p class="text-center small">Ingresa el username y password para entrar</p>
                </div>

                <form action="" method="post" class="row g-3 needs-validation">
                  {% csrf_token %}
            
                  {% for field in form %}
                    <div class="col-12">
                      {{field}}
                    </div>
                    <div>
                      {% for error in field.errors %}
                        <p>{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endfor %}
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Olvido su password ? <a href="#">Solucion</a></p>
                  </div>
                </form>
                {% include 'app_gestion/list_errors.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </section> -->

    <!-- /Hero Section -->
  </main>
</body>