{% extends "app_gestion/base_m1.html" %}
{% load static %}
{% load filtros %}
{% block title %}
M1 | Clientes crud
{% endblock %}
{% block styles %}
{% endblock styles %}
{% block content %}
<main id="main" class="main" style="margin-top: 40px">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ xOpcion }} un Cliente<a href="{% url 'clientes' 1 0 %}" class="float-end"><i
                            class="bi bi-arrow-return-left" title='Regresar'></i></a></h5>
                <form id="cliente_form" action="" method="post" class="row g-3">
                    {% csrf_token %}
                    <!-- ------------------------------------ agregando ------------------------------------- -->
                    {% if xOpcion == 'Agregando' %}
                    <div class="col-md-6">
                        <span class="titulos">Cédula/Rif</span><br>
                        <div class="col-md-3 float-star t">
                            <select name="prefijo_r" id="prefijo_r" class="form-control float-start alto"
                                style="border-right: 0px" required>
                                <option></option>
                                {% for xPre_ced_rif in xPrefijos_ced_rif %}
                                <option>
                                    {{xPre_ced_rif}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-9 float-start">
                            {{form.ced_rif}}
                            <input type="text" id="rNum_cedula" value="{{rNum_cedula}}" hidden>
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="titulos">{{form.nombre.label}}</span>
                        {{form.nombre}}
                    </div>
                    <div class="col-6 pb-4">
                        <span class="titulos">
                            Vendedor</span><span id="nuevo" class="boton-ajustado-a-la-derecha" title="Agrgara un vendedor"
                            onclick="javascript:openModal2.click()">AGREGAR</span>
                        <select name="vendedor" id="vendedor" class="form-control d-flex alto" required>
                            <option selected></option>
                            {% for xVendedor in xVendedores %}
                            <option value={{xVendedor.id}}>
                                {{xVendedor.nombre}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %} <!-- fin agregando -->
                    <!-- ------------------------------------ editando ------------------------------------- -->
                    {% if xOpcion == 'Editando' %}
                    <div class="col-md-6">
                        <span class="titulos">Cédula/Rif</span><br>
                        <div class="col-md-3 float-star t">
                            <select name="prefijo_r" id="prefijo_r" class="form-control float-start alto"
                                style="border-right: 0px" required>
                                <option></option>
                                {% for xPre_ced_rif in xPrefijos_ced_rif %}
                                <option  {% if xPre_ced_rif.prefijo_r == rPrer_Ced_rif %} selected {% endif %}>
                                    {{xPre_ced_rif}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-9 float-start">
                            <input type="text" name="ced_rif" id="id_ced_rif" value={{rCed_rif}} maxlength="8" class="form-control alto"
                            onkeypress="return soloNumeros(event)" required/>
                            <input type="text" id="rNum_cedula" value="{{rNum_cedula}}" hidden>
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="titulos">{{form.nombre.label}}</span>
                        {{form.nombre}}
                    </div>
                  <div class="col-6">
                        <span class="titulos">
                            Vendedor</span>
   
                        <select name="vendedor" id="vendedor" class="form-control d-flex alto" required>
                            <option selected></option>
                            {% for xVendedor in xVendedores %}
                            <option value="{{xVendedor.id}}" {% if xVendedor.id == rVendedor %} selected {% endif %}>
                                {{xVendedor.nombre}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6 pb-4">
                        <span class="titulos">
                            Status</span>
                        <select name="status" id="status" class="form-control d-flex alto" required>
                            <option selected></option>
                            {% for xStatu in xStatus %}
                            <option value="{{xStatu.id}}" {% if xStatu.id == rStatu %} selected {% endif %}>
                                {{xStatu.statu}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- fin editando -->
                    {% endif %} 
                    <!-- Botones -->
                    <div class="text-center">
                        <button type="submit" id="guardar" class="btn btn-primary"
                            onclick="validar(event)">Guardar</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="javascript:window.location='/clientes/1/0/'">Regresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main><!-- End #main -->
<button id="openModal2" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vendedorModal"
    hiddenn>AGREGAR
</button>
<!-- modal -->
<div class="modal fade" id="vendedorModal" tabindex="-1" style="margin-top: 100px" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hiddenn="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="card-title">Agregar vendedor</h5>
            </div>
            <form id="vendedor-form" action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div> 
                        <span class="titulos">Numero de cedula</span>
                        <input type="text" id="m_cedula" name="m_cedula" class="form-control alto" required
                        onkeypress="return soloNumeros(event)" maxlength="8" minlength="7"/>
                    </div>
                    <div>
                        <span class="titulos">Nombre</span>
                        <input type="text" id="m_nombre" name="m_nombre" class="form-control alto" required/>
                    </div>
                    <div>
                        <span class="titulos">
                            Ciudad</span>
                        <select name="m_ciudad" id="m_ciudad" class="form-control d-flex alto" required>
                            <option selected></option>
                            {% for xCiudad in xCiudades %}
                            <option value={{xCiudad.id}}>
                                {{xCiudad.ciudad}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-primary" id="gurdar_vendedor"
                        onclick="agregar_vendedor(event)">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="cerrar_vendedor"
                        data-bs-dismiss="modal">Descartar</button>
                </div>
            </form>
        </div> <!-- fin modal content -->
    </div> <!-- fin modal-dialog -->
</div><!-- fin modal-->
{% endblock content %}

{% block Scripts_Adicionales %}
{% if otro %}
<script>
    Swal.fire({
        title: "Su operación ha sido exitosa!",
        //text: "",
        icon: "success"
    })
</script>
{% endif %}

<script>
    // validar formulario
    function validar(e) {
        const form = document.getElementById('cliente_form') // tomo el nombre del formulario
        // si validar
        if (form.checkValidity()) {
            e.preventDefault()
            // Validar ced_rif 
            let Var_rNum = document.getElementById('rNum_cedula').value
            let Var_numero = document.getElementById('prefijo_r').value + document.getElementById('id_ced_rif').value
            if (Var_rNum != Var_numero) {
                var existe = false
                // console.log("******", '{{ xOpcion }}')
                let campo = $('#prefijo_r').val() + $('#id_ced_rif').val()
                $.ajax({
                    url: "{% url 'validar_cliente' %}",
                    type: 'POST',
                    async: false,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'campo': campo,
                    },
                    datatype: 'json',
                    success: function(data) {
                        //console.log('RESULTADO', data.status, typeof data.status)
                        existe = data.status
                    },
                    error: function(xhr, status, error) {
                        // console.log("Error ocurrido: ", error)
                        // console.log("Status: ", status)
                    }
                })
                if (existe) {
                    document.getElementById('id_ced_rif').focus()
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Esta Cedula/Rif ya esta rigistrada' + ' Verifique...!',
                        showDenyButton: true,
                        // showCancelButton: true,
                        confirmButtonText: "Continuar",
                        denyButtonText: `Descartar`
                        }).then((result) => {
                        if (result.isConfirmed) {
                            // Condirmar
                            Swal.fire({
                                title: '¿ Esta seguro de guardar ?',
                                // html: `<h1>${m}$</h1><br>A ${c} `,
                                showDenyButton: true,
                                // showCancelButton: true,
                                confirmButtonText: "Guardar",
                                denyButtonText: `Descartar`
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    form.submit()
                                } else {
                                    return false
                                }
                            }) // fin Confirmar
                        } else {
                            return false
                        }
                    })
                } else { // no existe
                    // Condirmar
                    Swal.fire({
                        title: '¿ Esta seguro de guardar ?',
                        // html: `DOC: ${n}<br>DE: ${c_texto}<br><h1>${m}$</h1> `,
                        showDenyButton: true,
                        // showCancelButton: true,
                        confirmButtonText: "Guardar",
                        denyButtonText: `Descartar`
                    }).then((result) => {
                        if (result.isConfirmed) {
                            form.submit()
                        } else {
                            return false
                        }
                    })


                } // fin existe  
            } else {
                // Condirmar
                Swal.fire({
                    title: '¿ Esta seguro de guardar ?',
                    // html: `DOC: ${n}<br>DE: ${c_texto}<br><h1>${m}$</h1> `,
                    showDenyButton: true,
                    // showCancelButton: true,
                    confirmButtonText: "Guardar",
                    denyButtonText: `Descartar`
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit()
                    } else {
                        return false
                    }
                }) // fin Confirmar   
            } // fin Var_rNum != Var_numero  
        } // fin de checkValidity()
    } // fin validar formulario
    

    
    // agregar una vendedor
    const form_v = document.getElementById('vendedor-form') // tomo el nombre del formulario
    function agregar_vendedor(e) {
        if (form_v.checkValidity()) { // Si es valido //
            e.preventDefault()
            $.ajax({
                url: "{% url 'agregar_vendedor_desde_agregar_cliente' %}",
                type: 'POST',
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'm_cedula': $('#m_cedula').val(),
                    'm_nombre': $('#m_nombre').val(),
                    'm_ciudad': $('#m_ciudad').val(),
                },
                datatype: 'json',
                success: function(data) {
                    // console.log('RESULTADO', data.id)
                    if (data.id == 0) {
                        document.getElementById('m_cedula').focus()
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Esta Cédula ya esta rigistrada' + ' Verifique...!',
                            showConfirmButton: true,
                            //timer: 2500
                        })
                        return
                    } else {
    
                        form_v.reset()
                        cerrar_vendedor.click()
                        obtener_vendedores(data.id) // cargar el cleinte agregado
                    }
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText)
                } 
            }) // fin ajax
    } // fin agregar vendedor
    } 
    
    // obtener las vendedores
    function obtener_vendedores(id) {
        let options = '<option></option>'
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        })
        $.ajax({
            url: "{% url 'obtener_vendedores' %}",
            type: 'POST',
            datatype: 'json',
            success: function(data) {
                let select_vendedor = $('select[name="vendedor"]')
                $.each(data, function(key, item) {
                    let selected = (id == item.id) ? "selected" : ""
                    options += `<option value="${item.id}" ${selected}> ${item.nombre} </option>`
                })
                select_vendedor.html(options)
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText)
            }
        })
    } 
    </script>
{% endblock Scripts_Adicionales %}