{% extends "app_gestion/base_m1.html" %}
{% load static %}
{% load filtros %}
{% block title %}
M1 | Documentos crud
{% endblock %}
{% block styles %}
{% endblock styles %}
{% block content %}
<main id="main" class="main" style="margin-top: 40px">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ xOpcion }} un Documento<a href="{% url 'documentos' 0 1 %}"
                        class="float-end"><i class="bi bi-arrow-return-left" title='Regresar'></i></a></h5>
                <form id="documento_form" action="" method="post" class="row g-3">
                    {% csrf_token %}
                    <!-- ------------------------------------ agregando ------------------------------------- -->
                    {% if xOpcion == 'Agregando' %}
                    <div class="col-6">
                        <span class="titulos">
                            Cliente</span><span id="nuevo" class="boton-ajustado-a-la-derecha"
                            title="Agrgara un cliente" onclick="javascript:openModal.click()">AGREGAR</span>
                        <select name="cliente" id="cliente" class="form-control d-flex alto" required>
                            <option selected></option>
                            {% for xCliente in xClientes %}
                            <option value={{xCliente.id}}>
                                {{xCliente.nombre}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6">
                        <span class="titulos">Número</span>
                        {{form.numero}}
                        <input type="text" id="rNum" value="{{rNum}}" hidden>
                    </div>
                    <div class="col-6">
                        <span class="titulos">
                            {{form.fecha.label}}</span><span id="hoy" class="boton-ajustado-a-la-derecha"
                            onclick="get_hoy(id_fecha)">HOY</span>
                        {{form.fecha}}
                    </div>
                    <div class="col-5">
                        <span class="titulos">
                            {{form.vencimiento.label}}</span>
                        {{form.vencimiento}}
                    </div>
                    <div class="col-1">
                        <span class="titulos">Dias</span>
                        <input type="text" name="credito" id="credito" class="form-control d-flex alto" readonly style="align-items: center;" required>
                    </div>
                    <div id="div_ref" class="col-md-6">
                        <span class="titulos"> {{form.monto.label}}</span>
                        {{form.monto}}
                    </div>

                    <div class="col-6">
                        <span class="titulos">
                            Iva</span>
                        <select name="iva" id="iva" class="form-control d-flex alto">
                            {% for xIva in xIvas %}
                            <option value={{xIva.id}}>
                                {{xIva.iva}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6">
                        <span class="titulos">
                            Condición</span>
                        <select name="condicion" id="condicion" class="form-control d-flex alto" required>
                            <option selected></option>
                            {% for xCondicion in xCondiciones %}
                            <option value={{xCondicion.id}}>
                                {{xCondicion.condicion}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 pb-4">
                        <span class="titulos">
                            {{form.observacion.label}}</span>
                        {{form.observacion}}
                    </div>
                    {% endif %} <!-- fin agregando -->
                    <!-- ------------------------------------ editando ------------------------------------- -->
                    {% if xOpcion == 'Editando' %}
                    <div class="col-6">
                        <span class="titulos">
                            Cliente</span>
                        <select name="cliente" id="cliente" class="form-control d-flex alto" required>
                            <!-- <option selected></option> -->
                            {% for xCliente in xClientes %}
                            <option id={{xCliente.id}} value="{{xCliente.id}}" {% if xCliente.id == rClienteId %} selected
                                {% endif %}>
                                {{xCliente.nombre}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6">
                        <span class="titulos">Número</span>
                        {{form.numero}}
                        <input type="text" id="rNum" value="{{rNum}}" hidden>
                    </div>
                    <div class="col-6">
                        <span class="titulos">{{form.fecha.label}}</span>
                        {{form.fecha}}
                    </div>
                    <div class="col-6" hidden>
                        <!-- <span class="titulos">{{form.fecha.label}}</span> -->
                        {{form.credito}}
                    </div>
                    <div class="col-6">
                        <span class="titulos">{{form.vencimiento.label}}</span>
                        {{form.vencimiento}}
                    </div>
                    <div class="col-6">
                        <span class="titulos">{{form.monto.label}}</span>
                        {{form.monto}}
                    </div>
                    <div class="col-6">
                        <span class="titulos">
                            Iva</span>
                        <select name="iva" id="iva" class="form-control d-flex alto">
                            <!-- <option  selected></option> -->
                            {% for xIva in xIvas %}
                            <option id={{xIva.id}} value="{{xIva.id}}" {% if xIva.id == rIvaId %} selected {% endif %}>
                                {{xIva.iva}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6">
                        <span class="titulos">
                            Condición</span>
                        <select name="condicion" id="condicion" class="form-control d-flex alto" required>
                            <option selected></option>
                            {% for xCondicion in xCondiciones %}
                            <option id={{xCondicion.id}} value="{{xCondicion.id}}" {% if xCondicion.id == rCondicionId %}
                                selected {% endif %}>
                                {{xCondicion.condicion}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 pb-4">
                        <span class="titulos">
                            {{form.observacion.label}}</span>
                        {{form.observacion}}
                    </div>
                    {% endif %} <!-- fin editando -->
                    <!-- Botones -->
                    <div class="text-center">
                        <button type="submit" id="guardar" class="btn btn-primary"
                            onclick="validar(event)">Guardar</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="javascript:window.location='/documentos/0/1'">Regresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main><!-- End #main -->

<!-- cliente Modal -->
<button id="openModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clienteModal" hidden>
    AGREGAR
</button>
<div class="modal fade" id="clienteModal" tabindex="-1" style="margin-top: 100px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="card-title">Agregar cliente</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <!-- Modal form-->
                <form id="cliente_form" action="" method="post" class="row g-3">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <span class="titulos">Cédula/Rif</span><br>
                        <div class="col-md-3 float-star t">
                            <select name="m_prefijo_r" id="m_prefijo_r" class="form-control float-start alto"
                                style="border-right: 0px" required>
                                <option></option>
                                {% for xPre_ced_rif in xPrefijos_ced_rif %}
                                <option>
                                    {{xPre_ced_rif}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-9 float-start">
                            <input type="text" id="m_ced_rif" class="form-control alto" required  maxlength="10" >
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="titulos">Nombre</span>
                        <input type="text" id="m_nombre" class="form-control alto" required  maxlength="40" >
                    </div>
                    <div class="col-6">
                        <span class="titulos">
                            Vendedor</span>
                        <select name="m_vendedor" id="m_vendedor" class="form-control d-flex alto" required>
                            <option selected></option>
                            {% for xVendedor in xVendedores %}
                            <option value={{xVendedor.id}}>
                                {{xVendedor.nombre}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary" id="gurdar_vendedor"
                            onclick="validar_cliente(event)">Guardar</button>
                        <button type="button" class="btn btn-secondary" id="cerrar_cliente"
                            data-bs-dismiss="modal">Descartar</button>
                    </div>
                </form>  <!-- fin Modal form-->
            </div>   <!-- fin modal body-->
        </div> <!-- fin modal content -->
    </div> <!-- fin modal-dialog -->
</div><!-- End cliente Modal-->


{% endblock content %}

{% block Scripts_Adicionales %}
{% if otro %}
<!-- <script>
    Swal.fire({
        title: "Su operación ha sido exitosa!",
        //text: "",
        icon: "success"
    });
</script> -->
{% endif %}

<script>
    checkPattern("id_monto")
    // Si editando dar formato
    if (document.getElementById('id_monto').value != "") {
        document.getElementById('id_monto').value = darFormato(document.getElementById('id_monto').value)
    }

    // formatear entrada
    function checkPattern(e) {
        $("#" + e).on({
            "focus": function (event) {
                $(event.target).select()
            },
            "keyup": function (event) {
                $(event.target).val(function (index, value) {
                    return value.replace(/\D/g, "")
                        .replace(/([0-9])([0-9]{2})$/, '$1,$2')
                        .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".")
                })
            }
        })
    } // fin formatear entrada

    // validar formulario
    function validar(e) {
        const form = document.getElementById('documento_form') // tomo el nombre del formulario
        // si validar
        if (form.checkValidity()) {
            e.preventDefault()
            // Validar condicion

            // validar fecha
            // if (document.getElementById('credito')) {
            //     if ((document.getElementById('credito').value) * 1 < 0){
            //         document.getElementById('id_vencimiento').focus();
            //         Swal.fire({
            //             position: 'center',
            //             icon: 'error',
            //             title: 'Hay problemas con las fechas y no se puede calcular los dias' + ' Verifique...!',
            //             showConfirmButton: true,
            //             //timer: 2500
            //         })
            //         return
            //     }
            // }

            // validar fechas
            let f = document.getElementById('id_fecha').value
            let v = document.getElementById('id_vencimiento').value
            var fechaf = new Date(f);
            var fechav = new Date(v);
            if (fechaf > fechav) {
                document.getElementById('id_vencimiento').focus();
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'la fecha vencimiento no pude ser menor que la fecha' + ' Verifique...!',
                    showConfirmButton: true,
                    //timer: 2500
                })
                return
            } // fin validar fechas
            
            if (document.getElementById('credito')) {
                if (document.getElementById('condicion').value == 2) {
                    if (parseInt(document.getElementById('credito').value) <= 15) {
                        document.getElementById('condicion').focus();
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'El Documento no puede tener Condición crédito, ya que vence en menos de 15 días.' + ' Verifique...!',
                            showConfirmButton: true,
                            //timer: 2500
                        })
                        return
                    } 
                }
                if (document.getElementById('condicion').value == 1) {
                    if (parseInt(document.getElementById('credito').value) > 15) {
                        document.getElementById('condicion').focus();
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'El Documento no puede tener Condición contado, ya que vence en más de 15 días.' + ' Verifique...!',
                            showConfirmButton: true,
                            //timer: 2500
                        })
                        return
                    } 
                }
            }

            // validar numero de docuemnto no exista
            let Var_rNum = document.getElementById('rNum').value
            let Var_numero = document.getElementById('id_numero').value
            // Si editaron el numero de doc valido
            if (Var_rNum != Var_numero) { 
                let existe = false
                let campo = $('#id_numero').val()
                $.ajax({
                    url: "{% url 'validar_numero' %}",
                    type: 'POST',
                    async: false,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'campo': campo,
                    },
                    datatype: 'json',
                    success: function (data) {
                        // console.log('RESULTADO', data.status, typeof data.status)
                        existe = data.status
                    },
                    error: function (xhr, status, error) { }
                })
                if (existe) {
                    document.getElementById('id_numero').focus();
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Este numero de Documento ya esta rigistrado' + ' Verifique...!',
                        showConfirmButton: true,
                        //timer: 2500
                    })
                    return;
                } //validar numero
            } // fin validar numero de docuemnto 
            // Condirmar
            let c = document.getElementById('cliente').value
            let c_texto = cliente.options[cliente.selectedIndex].text
            let m = document.getElementById('id_monto').value
            let n = document.getElementById('id_numero').value
            Swal.fire({
                title: '¿ Esta seguro de guardar ?',
                html: `DOC: ${n}<br>DE: ${c_texto}<br><h1>${m}$</h1> `,
                showDenyButton: true,
                // showCancelButton: true,
                confirmButtonText: "Guardar",
                denyButtonText: `Descartar`
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('documento_form').submit()
                } else {
                    return false
                }
            }) // fin Confirmar        
        } // fin de checkValidity()
    } // fin validar formulario



  
    function calcular_dias() {
        if (document.getElementById('credito')) {
            let Fecha = new Date(document.getElementById('id_fecha').value + "T00:00:00")
            if (esFechaValida(Fecha) == false) {
                document.getElementById('id_fecha').focus();
                document.getElementById('credito').value = ""
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'la fecha no es valida' + ' Verifique...!',
                    showConfirmButton: true,
                    //timer: 2500
                })
                return
            }


            let Vencimiento = new Date(document.getElementById('id_vencimiento').value + "T00:00:00")

            if (esFechaValida(Vencimiento) == false) {
                return
            }
         
            // Calcular la diferencia en milisegundos
            var diferenciaEnMilisegundos = Vencimiento - Fecha;

            // Convertir la diferencia a días
            var milisegundosPorDia = 24 * 60 * 60 * 1000;
            var diferenciaEnDias = diferenciaEnMilisegundos / milisegundosPorDia;
            document.getElementById('credito').value = diferenciaEnDias

            // llenar campo condicion
            if (diferenciaEnDias <= 15) {
                document.getElementById('condicion').value = 1 //Contado
            } else {
                document.getElementById('condicion').value = 2
            }
        }

    } // fin calcular dias

    // validar fecha
    function esFechaValida(fecha) {
        var fechaObj = new Date(fecha);
        return fechaObj instanceof Date && !isNaN(fechaObj);
    } // fin validar fecha

    // validar cliente
    function validar_cliente(e) {
        const form_c = document.getElementById('cliente_form') // tomo el nombre del formulario
        if (form_c.checkValidity()) { // Si es valido //
            e.preventDefault()
            // Validar ced_rif 
            var existe = false
            // console.log("******", '{{ xOpcion }}')
            let campo = $('#m_prefijo_r').val() + $('#m_ced_rif').val()
            $.ajax({
                url: "{% url 'validar_cliente' %}",
                type: 'POST',
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'campo': campo,
                },
                datatype: 'json',
                success: function(data) {
                    existe = data.status
                },
                error: function(xhr, status, error) {
                }
            })
            if (existe) {
                document.getElementById('m_ced_rif').focus()
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Esta Cédula/Rif ya esta rigistrada' + ' Verifique...!',
                    showDenyButton: true,
                    // showCancelButton: true,
                    confirmButtonText: "Continuar",
                    denyButtonText: `Descartar`
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Confirmar
                        Swal.fire({
                            title: '¿ Esta seguro de guardar ?',
                            // html: `<h1>${m}$</h1><br>A ${c} `,
                            showDenyButton: true,
                            // showCancelButton: true,
                            confirmButtonText: "Guardar",
                            denyButtonText: `Descartar`
                        }).then((result) => {
                            if (result.isConfirmed) {
                                agregar_cliente()
                            } else {
                                return false
                            }
                        }) // fin Confirmar
                    } else {
                        return false
                    }
                })
            } else { // no existe
                // Condirmar
                Swal.fire({
                    title: '¿ Esta seguro de guardar ?',
                    // html: `DOC: ${n}<br>DE: ${c_texto}<br><h1>${m}$</h1> `,
                    showDenyButton: true,
                    // showCancelButton: true,
                    confirmButtonText: "Guardar",
                    denyButtonText: `Descartar`
                }).then((result) => {
                    if (result.isConfirmed) {
                        agregar_cliente()
                    } else {
                        return false
                    }
                }) // fin Confirmar 
            } // fin existe  
         } // fin de checkValidity()
    } // fin validar cliente

    // agregar una cliente
    // tomo el nombre del formulario
    function agregar_cliente() {
        const form_c = document.getElementById('cliente_form') 
        $.ajax({
            url: "{% url 'agregar_cliente_desde_agregar_documento' %}",
            type: 'POST',
            async: false,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'ced_rif': $('#m_prefijo_r').val()+$('#m_ced_rif').val(),
                'nombre': $('#m_nombre').val(),
                'vendedor_id': $('#m_vendedor').val()
            },
            datatype: 'json',
            success: function(data) {
                //console.log('RESULTADO', data.id)
                form_c.reset()
                cerrar_cliente.click()
                obtener_clientes(data.id) // cargar el cleinte agregado
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText)
            }
        }) // fin ajax
    } // fin agregar cliente

        // obtener los los clientes
        function obtener_clientes(id) {
        let options = '<option></option>'
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        })
        $.ajax({
            url: "{% url 'obtener_clientes' %}",
            type: 'POST',
            datatype: 'json',
            success: function(data) {
                let select_ciudad = $('select[name="cliente"]')
                $.each(data, function(key, item) {
                    let selected = (id == item.id) ? "selected" : ""
                    options += `<option value="${item.id}" ${selected}> ${item.nombre} </option>`
                })
                select_ciudad.html(options)
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText)
            }
        })
    }
    
    window.addEventListener("load", (event) => {
        if( document.getElementById('hoy')){
            hoy.click();
        }
    });

</script>
{% endblock Scripts_Adicionales %}