{% extends "app_gestion/base_m1.html" %}
{% load static %}
{% load filtros %}
{% block title %}
M1 | Documentos
{% endblock %}
{% block styles %}
{% endblock styles %}
{% block content %}
<main id="main" class="main" style="margin-top: 40px">
    <div class="col-lg-12">
        <div class="card" id="data-section" style="opacity: 0;">
            <div class="card-body">
                <h5 class="card-title">Documentos<a href="{% url 'inicio' %}" class="float-end"><i class="bi bi-house-door" title='Cerrar'></i></a></h5>
                
                <form id="filtros" action="" method="post" class="row g-3">
                    {% csrf_token %}
                    
                        <div class="col-md-6">
                            <label id="m" class="titulos d-flex me-2 mt-1">Cliente</label>
                            <select name="cliente" id="cliente" required"
                                onChange="obtener_documentos()">
                                <option value="0" selected>TODOS</option>
                                {% for xCliente in xClientes_select %}
                                <option value={{xCliente.id}} {% if xCliente.id == xCliente_seleccionado %} selected
                                    {%endif %}>
                                    {{xCliente.nombre}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="titulos d-flex me-2 mt-1">Días transcurridos</label>
                            <select name="dias" id="dias" class="form-control custom-select d-flex alto" required
                                onChange="obtener_documentos()">
                                <option value="0" selected>TODOS</option>
                                {% for xDia in xDias_select %}
                                <option value={{xDia.id}} {% if xDia.id == xDia_seleccionado %} selected
                                    {%endif %}>
                                    {{xDia.dia}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                       
                </form>

                <div class="row">
                    <div class="col-lg-12" style="text-align: center;margin-top: 10px">
                        <h6 > <a href="{% url 'add_documento' %}" ><i class="bi bi-stickies"  title='Agregar un documento'></i><span>+</span></a></h6>
                    </div>
                </div>
                
                <table id="documentos" class="table table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Fecha</th>
                            <th>Vence</th>
                            <th>DV</th>
                            <th style="width:350px">Cliente</th>
                            <th>Monto</th>
                            <th>Abonado</th>
                            <th>Saldo</th>
                            <th>Vendedor</th>
                            <th>Condición</th>
                            <th>Iva</th>
                            <th>Opcion</th>
                            <th>Seguimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for xDocumento in xDocumentos %}
                        <tr>
                            {% if xDocumento.observacion == "" %}
                                <td>{{xDocumento.numero|rellenar}}</td>
                            {% else %}
                                <td>{{xDocumento.numero|rellenar}}
                                    <a href="#"> <i style="font-size: small;" class="bi bi-search" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            data-bs-html="true" data-bs-title="{{xDocumento.observacion}}<br>"></i>
                                        </i></a>
                                </td>
                            {% endif %}
                            <td>{{xDocumento.fecha|date:"d/m/y"}}</td>
                            <td>{{xDocumento.vencimiento|date:"d/m/y"}}</td>
                            <td align="center">{{xDocumento.dias_v}}</td>
                            <td>{{xDocumento.cliente__nombre}}</td>
                            <td align="right">{{xDocumento.monto|darFormato}}</td>
                            <td align="right">{{xDocumento.abonado|darFormato}}</td>
                            <td align="right">{{xDocumento.saldo|darFormato}}</td>
                            <td>{{xDocumento.cliente_id__vendedor__nombre|truncatechars:15}}</td>
                            <td>{{xDocumento.condicion__condicion}} a {{xDocumento.credito}}</td>
                            {% if xDocumento.iva__iva == "-" %}
                                <td  align="center">{{xDocumento.iva__iva}}</td>
                            {% else %}
                                <td>{{xDocumento.iva__iva}}</td>
                            {% endif %}
                            <td class="text-center" style="width:50px">
                                <a href="{% url 'editar_documento' xDocumento.id %}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            {% if xDocumento.seguimiento == "" %}
                              <td align="center">-</td>
                            {% else %}
                                <td align="center"><a href="javascript:abrir_modal('{{xDocumento.seguimiento}}')"> <i style="font-size: small;" class="bi bi-activity"></a></i></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                       
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main><!-- End #main -->
<button type="button" id="boton_modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal"
hidden>
Extra Large Moda
</button>
<!-- Modal -->
<div class="modal fade" id="miModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color:#012970">Seguimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6 id="t"></h6>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div><!-- End Extra Large Modal-->
{% endblock content %}
{% block Scripts_Adicionales %}
<script>
     // cuando cargue los datos
    $( document ).ready(function() { 
 
    $(function () {
        $("#documentos").DataTable({
  
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "*** No se encontró información ***",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            },

            "ordering": false,
            "responsive": true,
            "lengthChange": true,
            "autoWidth": true,
            "pageLength": 50,
            "scrollX": true,
            "order": [[3, "asc"]],
            "columnDefs": [{
                "targets": [1, 5, 6, 7],
                "orderable": false
            }]
        })
    })

    setTimeout(() => {
        document.getElementById('data-section').style.opacity = 1;
       }  ,200 );

    });

      // selectize
      $(document).ready(function () {
        // Activacion
        var selectizeInstance = $('#cliente').selectize({
        });
        $('.selectize-control.single .selectize-input').append('<i class="custom-arrow bi bi-chevron-down"></i>');
        // Evento click para limpiar el select input
        var selectizeControl = selectizeInstance[0].selectize;
        selectizeControl.$control.on('click', function () {
            selectizeControl.clear();
            $('.selectize-control.single .selectize-input').append('<i class="custom-arrow bi bi-chevron-down"></i>');
        });
    });

    // tool tip
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    // obtener docuemntos
    function obtener_documentos() {
        filtros.action = `/documentos/${cliente.value}/${dias.value}/`
        if (document.getElementById('cliente').value != '') {
            filtros.submit()
        }

    } // fin obtener docuemntos 

    function abrir_modal(seguimiento) {
        document.getElementById('t').innerHTML = seguimiento
        boton_modal.click();
    }

  </script>
{% endblock Scripts_Adicionales %}