{% extends "app_gestion/base_m1.html" %}
{% load static %}
{% load filtros %}
{% block title %}
M1 | estado_cuentas_detalle_doc
{% endblock %}
{% block styles %}
{% endblock styles %}
{% block content %}
<main id="main" class="main" style="margin-top: 40px">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
               
                <h5 class="card-title">Detalle de pagos al documento <a href="javascript:history.back()" class="float-end">
                        <i class="bi bi-arrow-return-left" title='Regresar'></i>
                    </a></h5>

                <h5>Doc: {{xDoc|rellenar}} </h5>
           

                
                <table id="asientos" class="table table-hover table-bordered " style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Referencia</th>
                            <th>Forma de pago</th>
                            <th>Abono</th>
                            <th>Saldo Doc.</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                      
                        {% for xDetalle in xPagos_detalle %}
                        <tr>
                            <td>{{xDetalle.fecha|date:"d/m/y"}}</td>
                            
                            {% if xDetalle.referencia == "-" %}
                                <td align="center">-</td>
                            {% else %}
                                {% if xDetalle.monto == "-" %}
                                  <td >Doc: {{xDetalle.referencia|rellenar}}</td>
                                {% else %}
                                 <td >Ref: {{xDetalle.referencia|rellenar}}</td>
                                {% endif %}

                            {% endif %}

                            <td align="center">{{xDetalle.forma}}</td>

                            {% if xDetalle.monto == "-" %}
                                <td align="center">-</td>
                            {% else %}
                                <td align="right">{{xDetalle.monto|darFormato}}</td>
                            {% endif %}
                            <td align="right">{{xDetalle.balance|darFormato}}</td>
                    
                        </tr>
                        {% endfor %}
                    </tbody>
                 
                </table>
            </div>
        </div>
    </div>
</main><!-- End #main -->
{% endblock content %}
{% block Scripts_Adicionales %}
<script>
    $(function () {
        $("#asientos").DataTable({

            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "*** No se encontró información ***",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            },
            "info": false,
            "ordering": false,
            "paging": false,
            "responsive": true,
            "lengthChange": true,
            "autoWidth": true,
            // "pageLength": 50,
            "scrollX": true
            // "order": [[0,"asc"]],
            // "columnDefs": [{
            //     "targets": [1, 2, 3, 4, 5],
            //     "orderable": false
            // }]
        })
    }) // fin tabla

</script>
{% endblock Scripts_Adicionales %}