{% extends "app_gestion/base_m1.html" %}
{% load static %}
{% load filtros %}
{% block title %}
M1 | Historial de pagos
{% endblock %}
{% block styles %}
{% endblock styles %}
{% block content %}
<main id="main" class="main" style="margin-top: 40px;">
    <div class="col-lg-12">
        <div class="card" id="data-section" style="opacity: 0;">
            <div class="card-body">
                <h5 class="card-title">
                    Historial de pagos
                    <a href="{% url 'inicio' %}" class="float-end">
                        <i class="bi bi-house-door" title='Cerrar'></i>
                    </a>
                </h5>

                <form id="filtros" action="" method="post" class="mb-4" style="margin-bottom: 8px !important;">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4" style="margin-bottom: 12px;">
                            <span class="titulos">Cliente</span>
                            <select name="cliente" id="cliente" required onfocus="limpiar()" onChange="obtener_pagos()">
                                <option value="0" selected>Todos</option>
                                {% for xCliente in xClientes %}
                                    <option value={{xCliente.id}} {% if xCliente.id == xCliente_seleccionado %} selected {% endif %}>
                                        {{ xCliente.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <span class="titulos">Desde</span>
                            <input type="date" id="fecha_ini" name="fecha_ini" value="{{xFecha_ini}}" class="form-control alto" onChange="obtener_pagos()" />
                        </div>
                        <div class="col-md-4">
                            <span class="titulos">Hasta</span>
                            <input type="date" id="fecha_fin" name="fecha_fin" value="{{xFecha_fin}}" class="form-control alto" onChange="obtener_pagos()" />
                        </div>
                    </div>
                </form>

                <table id="pagos" class="table table-hover table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Procesado</th>
                            <th>Referencia</th>
                            <th>Seguimiento</th>
                            <th>Forma</th>
                            <th>A Cuenta</th>
                            <th>Monto $</th>
                            <th>Doc</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for xPago in xPagos %}
                        <tr>
                            <td>{{ xPago.cliente__nombre }}</td>
                            <td>{{ xPago.fecha|date:"d-m-Y" }}</td>
                            <td align="center">{{ xPago.creado|date:"d-m-Y" }} {{ xPago.creado|time }}</td>

                            {% if xPago.observacion == "" %}
                                {% if xPago.referencia == "-" %}
                                    <td align="center">{{ xPago.referencia }}</td>
                                {% else %}
                                    <td>{{ xPago.referencia|rellenar }}</td>
                                {% endif %}
                            {% else %}
                                <td>
                                    {{ xPago.referencia|rellenar }}
                                    <a href="#">
                                        <i class="bi bi-search" style="font-size: small;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="{{xPago.observacion}}<br>"></i>
                                    </a>
                                </td>
                            {% endif %}

                            {% if xPago.seguimiento == "" %}
                                <td align="center">-</td>
                            {% else %}
                                <td align="center">
                                    <a href="javascript:abrir_modal('{{xPago.seguimiento}}')">
                                        <i class="bi bi-activity" style="font-size: small;"></i>
                                    </a>
                                </td>
                            {% endif %}

                            {% if xPago.forma__forma == "Transferencia Bancos Nacionales" or xPago.forma__forma == "Bolivares en Efectivo" %}
                                <td>
                                    {{ xPago.forma__forma }}
                                    <a href="#">
                                        <i class="bi bi-search" style="font-size: small;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="<b>Bs. {{xPago.monto}}</b> <br> (Tasa {{xPago.tasa}})"></i>
                                    </a>
                                </td>
                            {% else %}
                                <td>{{ xPago.forma__forma }}</td>
                            {% endif %}

                            {% if xPago.banco_destino__nombre == "-" %}
                                <td align="center">{{ xPago.banco_destino__nombre }}</td>
                            {% else %}
                                <td>{{ xPago.banco_destino__nombre }}</td>
                            {% endif %}

                            <td align="right">{{ xPago.monto_procesar|darFormato }}</td>
                            <td align="center">
                                <a href="{% url 'historial_pagos_detalle_doc' xPago.id xPago.monto_procesar %}" title="Ver documentos afectados">
                                    <i class="bi bi-file-earmark" style="font-size: small;"></i>
                                </a>
                            </td>
                            <td class="text-center" style="width:50px">
                                {% if xPago.tipo == 1 %}
                                    <a href="{% url 'pago_cuenta_corregir' xPago.id xPago.forma_id %}">
                                        <i class="bi bi-pencil" style="font-size: small;"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'pago_documentos_corregir' xPago.id xPago.forma_id %}">
                                        <i class="bi bi-pencil" style="font-size: small;"></i>
                                    </a>
                                {% endif %}
                                <a href="{% url 'pago_reversar' xPago.id %}" title="Reversar pago">
                                    <i class="bi bi-arrow-counterclockwise"></i>
                                </a>
                               {% if xPago.comprobante %}
                                    <a href="javascript:void(0);" data-comprobante-url="/media/{{ xPago.comprobante }}" onclick="abrir_comprobante_modal(this)">
                                        <i class="bi bi-file-image" title="Ver comprobante"></i>
                                    </a>
                                {% else %}
                                    <a href="javascript:abrir_subir_comprobante('{{ xPago.id }}')">
                                        <i class="bi bi-upload" title="Subir comprobante"></i>
                                    </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main><!-- End #main -->

<button type="button" id="boton_modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal" hidden>
    Extra Large Modal
</button>

<!-- Modal -->
<div class="modal fade" id="miModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:#012970">Seguimiento del Documento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="t"></h6>
            </div>
        </div>
    </div>
</div><!-- End Modal -->

<!-- Modal para ver comprobante -->
<div class="modal fade" id="modalVerComprobante" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:#012970">Comprobante de Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="imgComprobante" src="" style="max-width: 100%; max-height: 80vh;" />
            </div>
        </div>
    </div>
</div>



<!-- Modal Subir Comprobante -->
<div class="modal fade" id="modalSubirComprobante" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="formSubirComprobante" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Subir Comprobante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="file" name="comprobante" id="comprobante_subir" class="form-control" accept="image/*" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block Scripts_Adicionales %}
<script>
    $(document).ready(function () {
        $("#pagos").DataTable({
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "*** No se encontró información ***",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            },
            "ordering": false,
            "responsive": true,
            "lengthChange": true,
            "autoWidth": true,
            "pageLength": 50,
            "scrollX": true,
            "order": [[1, "desc"]],
            "columnDefs": [{ "targets": [5], "orderable": false }]
        });

      

        // Activar selectize
        const selectizeInstance = $('#cliente').selectize();
        const selectizeControl = selectizeInstance[0].selectize;

        selectizeControl.$control.on('click', function () {
            selectizeControl.clear();
        });

        $('.selectize-control.single .selectize-input').append('<i class="custom-arrow bi bi-chevron-down"></i>');

        // Mostrar con transición
        setTimeout(() => {
            document.getElementById('data-section').style.opacity = 1;
        }, 200);

    });

    function obtener_pagos() {
        filtros.action = `/historial_pagos/${cliente.value}/${fecha_ini.value}/${fecha_fin.value}/`
        if (cliente.value !== '') {
            filtros.submit();
        }
    }

    function abrir_modal(seguimiento) {
        document.getElementById('t').innerHTML = seguimiento;
        boton_modal.click();
    }
    
    function abrir_comprobante_modal(elemento) {
        const url = elemento.dataset.comprobanteUrl;
        const imgElement = document.getElementById('imgComprobante');
        imgElement.src = url;
        new bootstrap.Modal(document.getElementById('modalVerComprobante')).show();
    }

    function abrir_subir_comprobante(pago_id) {
        // Puedes usar hidden input para enviar ID del pago si es AJAX
        const form = document.getElementById('formSubirComprobante');
        form.action = `/subir_comprobante/${pago_id}/`; // Ruta que crearás en Django
        new bootstrap.Modal(document.getElementById('modalSubirComprobante')).show();
    }

</script>
{% endblock Scripts_Adicionales %}
