<!--
Page...: inicio.html:
Father.: base_m1.html
Content: pagina inicio del sistema
-->
{% extends 'app_gestion/base_m1.html' %}
{% load static %}
{% load filtros %}
{% block title %}
M1 | Inicio
{% endblock %}

{% block content %}
<main id="main"  class="fondo" style="padding-top: 80px;">
    <div class="pagetitle">
        <h1>Resumen</h1>
        <nav>
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol> -->
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
       
      <div class=" row">

        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
<!-- 
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div> -->

                        <div class="card-body">
                            <h5 class="card-title">Total cuentas por cobrar <span></span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar" style="color: red;"></i>
                                </div>
                                <div class="ps-3">
                                    {% if total_cxc != None %}
                                    <h6>{{total_cxc|darFormato}}</h6>
                                    {% endif %}
                                    <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span -->
                                        <!-- class="text-muted small pt-2 ps-1">increase</span> -->

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <!-- <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div> -->

                        <div class="card-body">
                            <h5 class="card-title">Tasa <span>|</span><span style="color: rgb(88, 87, 87);"> {{xActual}}</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <a href="javascript:abrir_modal()"> <i class="bi bi-cup"></i></a>
                                </div>
                                <div class="ps-3">
                                     <h6>{{xTasa|darFormato}} bs.</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->

                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <!-- <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div> -->

                        <div class="card-body">
                            <h5 class="card-title">Otro<span>| Otro</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <!-- <h6>1244</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">decrease</span> -->

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->

            </div>
        </div><!-- End Left side columns -->

        </div>
    </section>
</main>

<button type="button" id="modal_tasa" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#smallModal"
        hidden>
        Small Modal
    </button>
    <!-- modal -->
    <div class="modal fade" id="smallModal" tabindex="-1" style="margin-top: 100px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="card-title">Nueva tasa</h5>
                </div>
                <form  id="modal-form" action="{% url 'guardar_tasa' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <span class="titulos">Tasa</span>
                        <input id="tasa" name="tasa" class="form-control input-numero alto" maxlength="6" required/>
                        <!-- <input type="text" id="modal_i" hidden > -->
                    </div>
                    <div class="modal-footer justify-content-center">
                        <!-- onclick="javascript:window.location='/clientes/1/0/'" -->
                        <button type="submit"   class="btn btn-primary" id="gurdar_tasa" 
                        onclick="validar(event)">Guardar</button>
                        <button type="button" class="btn btn-secondary" id="cerrar" data-bs-dismiss="modal">Descartar</button>
                        
                    </div>
                </form>
            </div> <!-- fin modal content -->
        </div> <!-- fin modal-dialog -->
    </div><!-- fin modal-->

{% endblock content %}
{% block Scripts_Adicionales %}
<script>

    function abrir_modal() {
        modal_tasa.click();
    }

    function validar(e) {
        const form = document.getElementById('modal-form'); // tomo el nombre del formulario
        // si validar
            if (form.checkValidity()) {
                 form.click()
             }
    }

    checkPattern("tasa")

    // formatear entrada
    function checkPattern(e) {
    $("#" + e).on({
        "focus": function (event) {
            $(event.target).select()
        },
        "keyup": function (event) {
            $(event.target).val(function (index, value) {
                return value.replace(/\D/g, "")
                    .replace(/([0-9])([0-9]{2})$/, '$1,$2')
                    .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".")
            })
        }
    })
    } // fin formatear entrada
</script>
{% endblock Scripts_Adicionales %}