{% extends "app_gestion/base_m1.html" %}
{% load static %}
{% load filtros %}
{% block title %}
M1 | Vendedores
{% endblock %}
{% block styles %}
{% endblock styles %}
{% block content %}


<!-- Contenido -->
<div >
    <form method="post" enctype="multipart/form-data" >
    
        <!-- Emcabezado-->
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h5 class="h5-suave margen-bottom" align="center">!Vamos a Migrar los Inmuebles!</h5>
            </div>
            <div class="col-md-4 text-right">
                <a href="{% url 'inicio' %}" class="float-end">
                    <i class="fas fa-times color-alterno"></i>
                </a>
            </div>
        </div>
        {% csrf_token %}
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <div style="padding-top: 20px;">
                    <input type="file" name="file" >
               </div>
                <div style="padding-top: 50px; color: gray">
                    <p>
                        Asegurese de que el archivo excel este correcto.
                    </p>
                </div>
                <div>
                    <button type="submit" >Migrar</button>
                </div>
            </div>
            <!-- <div class="col-md-4 mt-3 mt-md-0"> -->
            </div>
        </div>
    </form>
</div>

{% endblock content %}