{% load static %}
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="#" class="logo d-flex align-items-center">
      <img src="{% static 'app_website/custom-files/assets_m1/img/logo1.png' %}" alt="" data-aos="fade-in">
      <span class="d-none d-lg-block">M1 Cobranza</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-person-fill"></i>
          <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user|upper}}</span>
        </a><!-- End Profile Iamge Icon -->
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Kevin Anderson</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>
        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->
    </ul>
  </nav><!-- End Icons Navigation -->
</header>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <h6 align="center"><span id="f" style="color: #1977cc; font-size: 15px;"></h6>
  <h6 align="center"><span id="h" class="clockf"></h6>
  <ul class="sidebar-nav" id="sidebar-nav" style="min-height: 900px; margin-top: 20px;">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'inicio' %}">
        <i class="bi bi-house-door"></i>
        <span>&nbsp;&nbsp;Inicio</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'documentos' 0 1 %}">
        <i class="bi bi-stickies"></i>
        <span>&nbsp;&nbsp;Docuementos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cobranza' 0 0 0 0 %}">
        <i class="bi bi-cash"></i>
        <span>&nbsp;&nbsp;Cobranza</span>
      </a>
    </li>
    <!-- 
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="bi bi-cash-coin"></i>
        <span>&nbsp;&nbsp;Asentar pago</span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clientes' %}">
        <i class="bi bi-people"></i>
        <span>&nbsp;&nbsp;Clientes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-card-text"></i>
        <span>&nbsp;&nbsp;Consultas</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'estado_cuenta' 0 ' ' 'menu' %}">
            <i class="bi bi-circle"></i><span>Estado de cuenta</span>
          </a>
        </li>
        <li>
          <a href="{% url 'estado_cuenta' 0 ' ' 'menu' %}">
            <i class="bi bi-circle"></i><span>Historial cliente</span>
          </a>
        </li>
        <li>
          <a href="{% url 'estado_cuenta' 0 ' ' 'menu' %}">
            <i class="bi bi-circle"></i><span>Ranking clientes</span>
          </a>
        </li>
        <li>
          <a href="{% url 'estado_cuenta' 0 ' ' 'menu' %}">
            <i class="bi bi-circle"></i><span>Auditoria de transac.</span>
          </a>
        </li>
      </ul>
    </li><!-- fin consultas Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-check2-square"></i><span>&nbsp;&nbsp;Corregir</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html">
            <i class="bi bi-circle"></i><span>1</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html">
            <i class="bi bi-circle"></i><span>2</span>
          </a>
        </li>
      </ul>
    </li><!-- fin corregir Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gear"></i><span>&nbsp;&nbsp;Configuración</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html">
            <i class="bi bi-circle"></i><span>Vendedores</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html">
            <i class="bi bi-circle"></i><span>Ciudades</span>
          </a>
        </li>
      </ul>
    </li><!-- fin configuracion Nav -->
  </ul> <!-- fin sidebar-nav -->
</aside><!-- End Sidebar-->
<script>
  // Funciones para mostra la hora
  mostrar_hora();
  repetirCadaMinuto();
  // Funcion feha y hora
  function mostrar_hora() {
    let hoy = new Date();
    let options = {
      weekday: 'long',
      // year: 'numeric',
      month: 'long',
      day: 'numeric'
    };
    let fecha = hoy.toLocaleString(undefined, options);
    if (hoy.getMinutes() < 10) {
      hoyMin = hoy.getMinutes();
      let minString = hoyMin.toString();
      var min = "0" + minString;
    }
    else {
      var min = hoy.getMinutes();
    }
    let hora = hoy.getHours() + ':' + min;
    let ho = hoy.getHours()
    h.innerHTML = hora;
    f.innerHTML = fecha;
    // if (ho >= 12) {
    //   document.getElementById("saludo").innerHTML = "!Buenas tardes!";
    //   if (ho >= 18) {
    //     document.getElementById("saludo").innerHTML = "!Buenas noches!";
    //   }
    // } else {
    //   document.getElementById("saludo").innerHTML = "!Buenos dias!";
    // }
  }
  // Funcion para recargara la hora
  function repetirCadaMinuto() {
    identificadorIntervaloDeTiempo = setInterval(() => {
      mostrar_hora();
    }, 60 * 1000);
  }
</script>