{% extends "app_gestion/base_m1.html" %}
{% load static %}
{% load filtros %}

{% block title %}
M1 | Pago a documentos
{% endblock %}

{% block styles %}
{% endblock styles %}

{% block content %}
<main id="main" class="main" style="margin-top: 40px">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Pago a documentos<a href="javascript:history.back()" class="float-end">
                        <i class="bi bi-arrow-return-left" title='Regresar'></i>
                    </a></h5>
                
                <form id="pago_documentos" action="" method="post" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                 
                    <div class="col-6">
                        <span class="titulos">
                            Cliente</span>
                        <input type="text" class="form-control alto" id="cliente" name="cliente"
                            value="{{xCliente}}" data-cliente_id="{{xId}}" readonly>
                    </div>
                    <div class="col-6">
                        <span class="titulos">
                            {{form.fecha.label}}</span><span id="hoy" class="boton-ajustado-a-la-derecha"
                            onclick="get_hoy(id_fecha)">HOY</span>
                        {{form.fecha}}
                    </div>
                    <div class="col-6">
                        <span class="titulos">{{form.forma.label}}</span>
                        <select name="forma" id="forma" class="form-control alto d-flex" required
                            onChange="mostrar_campos()">
                            <option value="" selected></option>
                            {% for xForma in xFormas %}
                            <option value={{xForma.id}}>
                                {{xForma.forma}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Campos variables -->
                    <div id="div_ref" class="col-md-6" hidden>
                        <span class="titulos"> {{form.referencia.label}}</span>
                        {{form.referencia}}
                    </div>
                    <div id="div_monto" class="col-md-6" hidden>
                        <span class="titulos">{{form.monto.label}}</span>
                        <input id="monto" name="monto" class="form-control input-numero alto" value="" maxlength="12" onChange="Calcular()" onblur="FormatearNumerosInputs(this)"></input>
                    </div>
                    <div id="div_tasa" class="col-md-6" hidden>
                        <span class="titulos">{{form.tasa.label}}</span>
                        <input class="form-control alto input-numero" name="tasa" id="tasa" value="{{xTasa}}"
                            onChange="Calcular()" required maxlength="6" onblur="FormatearNumerosInputs(this)">
                    </div>

                    <div id="div_ban" class="col-md-6" style="margin-bottom: 15px" hidden>
                        <span class="titulos">{{form.banco_destino.label}}</span>
                        <select name="banco_destino" id="banco_destino" class="form-control alto d-flex">
                            <option value="" selected></option>
                            {% for xBancodestino in xBancosdestino %}
                            <option value={{xBancodestino.id}}>
                                {{xBancodestino.nombre}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="div_monto_procesar" class="col-md-6" hidden>
                        <span class="titulos">{{form.monto_procesar.label}}</span>
                        <input id="monto_procesar" name="monto_procesar" class="form-control input-numero alto"
                            readonly maxlength="10" onChange="obtener_saldos()" onblur="FormatearNumerosInputs(this)"></input>
                    </div>
                    <!-- fin Campos variables -->

                    <!-- tabla de pagos -->
                    <div id="nota" class="text-center m-2" style="display: none;">
                        Distribuya el monto a pagar, hasta que el la casilla de Residuo <strong
                            style="color: #1977cc"> azul</strong> quede en <span>0,00</span>
                    </div>
                    <!-- 5ta fila  -->
                    <div class="mb-0">
                        <table id="tabla_saldos" class="table table-hover table-bordered " style="width:100%; display: none;">
                            <thead>
                                <tr>
                                    <th>Docuemnto</th>
                                    <th>Vencimiento</th>
                                    <th>Pendiente</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody id="tabla_saldos-tbody">
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6" id="div_comprobante" hidden>
                        <span class="titulos">Comprobante (opcional)</span>
                        <div style="display:flex; align-items:center; gap:5px;">
                            <input type="file" 
                                name="comprobante" 
                                id="comprobante" 
                                class="form-control alto" 
                                accept="image/*">
                            <button type="button" 
                                    id="ver_comprobante" 
                                    class="btn btn-primary"
                                    style="display:none;">
                        Ver
                            </button>
                        </div>
                    </div>

                    <div class="col-12 pb-4">
                        <span class="titulos">
                            {{form.observacion.label}}</span>
                        {{form.observacion}}
                    </div>

                    <div class="text-center">
                        <button type="submit" id="guardar" class="btn btn-primary"
                            onclick="validar(event)">Guardar</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="javascript:history.back()">Descartar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

<div class="modal fade" id="modalComprobante" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comprobante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <img id="modal_img_comprobante" src="#" alt="Comprobante" style="width:100%; height:auto;">
      </div>
    </div>
  </div>
</div>
</main><!-- End #main -->


{% endblock content %}
{% block Scripts_Adicionales %}
<script>
    new DataTable('#tabla_saldos', {
    bInfo : false,
    ordering: false,    
    order: [[2, 'asc']],
    paging: false,
    searching: false,
});
    // mostrar campos
    function mostrar_campos() {

        // Mostrar solo si hay un valor seleccionado
        const divComprobante = document.getElementById('div_comprobante');
        if (document.getElementById('forma').value) {
            divComprobante.hidden = false;
        } else {
            divComprobante.hidden = true;
        }

        if (document.getElementById("residuo")){
            document.getElementById("residuo").value = ""
            document.getElementById('residuo').placeholder='0,00';
        }

        if (document.getElementById('forma').value == 1) { // Transferencia Bancos Nacionales
            document.getElementById("div_ref").removeAttribute('hidden')
            document.getElementById("div_monto").removeAttribute('hidden')
            document.getElementById("div_tasa").removeAttribute('hidden')
            document.getElementById("div_monto_procesar").removeAttribute('hidden')
            document.getElementById("div_ban").removeAttribute('hidden')
            document.getElementById('monto').setAttribute("required", "")
            document.getElementById('banco_destino').setAttribute("required", "")
            document.getElementById("monto").value = ""
            document.getElementById("monto_procesar").value = ""
            document.getElementById('monto_procesar').setAttribute("readonly", "")

            // cargar bancos destinos
            let campo = "Nacional"
            let options = '<option value=""></option>'
            $.ajax({
                url: "{% url 'cargar_bancos' %}",
                type: 'POST',
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'campo': campo,
                },
                datatype: 'json',
                success: function (data) {
                    let select_tipo = $('select[name="banco_destino"]')
                    $.each(data, function (key, item) {
                        options += '<option value="' + item.id + '">' + item.nombre + '</option>'
                    })
                    select_tipo.html(options)
                },
                error: function (xhr, txtStatus, error) {
                    console.log(xhr, txtStatus, error)
                }
            }) // cargar bancos destinos
        } // fin forma 1

        if (document.getElementById('forma').value == 2) { // Dolares en efectivo
            document.getElementById("div_ref").hidden = true
            document.getElementById("div_monto").hidden = true
            document.getElementById("div_tasa").hidden = true
            document.getElementById("div_monto_procesar").removeAttribute('hidden')
            document.getElementById("div_ban").hidden = true
            document.getElementById("monto_procesar").removeAttribute('readonly')
            document.getElementById('monto_procesar').setAttribute("required", "")
            document.getElementById('monto').removeAttribute("required")
            document.getElementById("monto").value = ""
            document.getElementById('monto_procesar').value = ""
            document.getElementById('banco_destino').removeAttribute("required")
        }

        if (document.getElementById('forma').value == 3) {// Transferencia zelle
            document.getElementById("div_ref").removeAttribute('hidden')
            document.getElementById("div_ban").removeAttribute('hidden')
            document.getElementById("div_monto_procesar").removeAttribute('hidden')
            document.getElementById('monto').setAttribute("required", "")
            document.getElementById('banco_destino').setAttribute("required", "")
            document.getElementById("monto_procesar").removeAttribute('readonly')
            document.getElementById('monto_procesar').setAttribute("required", "")
            document.getElementById('monto').removeAttribute("required")
            document.getElementById("monto").value = ""
            document.getElementById('monto_procesar').value = ""
            document.getElementById('banco_destino').setAttribute("required", "")
            document.getElementById("div_tasa").hidden = true
            document.getElementById("div_monto").hidden = true

            // cargar bancos destinos
            let campo = "Inter"
            let options = '<option value=""></option>'
            $.ajax({
                url: "{% url 'cargar_bancos' %}",
                type: 'POST',
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'campo': campo,
                },
                datatype: 'json',
                success: function (data) {
                    let select_tipo = $('select[name="banco_destino"]')
                    $.each(data, function (key, item) {
                        options += '<option value="' + item.id + '">' + item.nombre + '</option>'
                    })
                    select_tipo.html(options)
                },
                error: function (xhr, txtStatus, error) {
                    console.log(xhr, txtStatus, error)
                }
            }) // cargar bancos destinos
        } // fin forma 3

        if (document.getElementById('forma').value == 4) { // Bolivares en efectivo
            document.getElementById("div_monto").removeAttribute('hidden')
            document.getElementById("div_tasa").removeAttribute('hidden')
            document.getElementById("div_monto_procesar").removeAttribute('hidden')
            document.getElementById('monto').setAttribute("required", "")
            document.getElementById("monto").value = ""
            document.getElementById("monto_procesar").value = ""
            document.getElementById('monto_procesar').setAttribute("readonly", "")
            document.getElementById("div_ref").hidden = true
            document.getElementById("div_ban").hidden = true
            document.getElementById('banco_destino').removeAttribute("required")
        } // fin form 4

        if (document.getElementById('forma').value == 6) { // Notta de credito
            document.getElementById("div_ref").hidden = true
            document.getElementById("div_monto").hidden = true
            document.getElementById("div_tasa").hidden = true
            document.getElementById("div_monto_procesar").removeAttribute('hidden')
            document.getElementById("div_ban").hidden = true
            document.getElementById("monto_procesar").removeAttribute('readonly')
            document.getElementById('monto_procesar').setAttribute("required", "")
            document.getElementById('monto').removeAttribute("required")
            document.getElementById("monto").value = ""
            document.getElementById('monto_procesar').value = ""
            document.getElementById('banco_destino').removeAttribute("required")
        } // fin forma 6

        if (document.getElementById('forma').value == 7) {// Deposito Bancos Nacionales ($)
            document.getElementById("div_ref").removeAttribute('hidden')
            document.getElementById("div_ban").removeAttribute('hidden')
            document.getElementById("div_monto_procesar").removeAttribute('hidden')
            document.getElementById('monto').setAttribute("required", "")
            document.getElementById('banco_destino').setAttribute("required", "")
            document.getElementById("monto_procesar").removeAttribute('readonly')
            document.getElementById('monto_procesar').setAttribute("required", "")
            document.getElementById('monto').removeAttribute("required")
            document.getElementById("monto").value = ""
            document.getElementById('monto_procesar').value = ""
            document.getElementById('banco_destino').setAttribute("required", "")
            document.getElementById("div_tasa").hidden = true
            document.getElementById("div_monto").hidden = true

            // cargar bancos destinos
            let campo = "Nacional"
            let options = '<option value=""></option>'
            $.ajax({
                url: "{% url 'cargar_bancos' %}",
                type: 'POST',
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'campo': campo,
                },
                datatype: 'json',
                success: function (data) {
                    let select_tipo = $('select[name="banco_destino"]')
                    $.each(data, function (key, item) {
                        if (item.id == 2 ||  item.id == 3){
                            options += '<option value="' + item.id + '">' + item.nombre + '</option>'
                        }
                    })
                    select_tipo.html(options)
                },
                error: function (xhr, txtStatus, error) {
                    console.log(xhr, txtStatus, error);
                }
            }) // cargar bancos destinos
        } // fin forma 7

          if (document.getElementById('forma').value == 8) { // Dolares en efectivo
            document.getElementById("div_ref").hidden = true
            document.getElementById("div_monto").hidden = true
            document.getElementById("div_tasa").hidden = true
            document.getElementById("div_monto_procesar").removeAttribute('hidden')
            document.getElementById("div_ban").hidden = true
            document.getElementById("monto_procesar").removeAttribute('readonly')
            document.getElementById('monto_procesar').setAttribute("required", "")
            document.getElementById('monto').removeAttribute("required")
            document.getElementById("monto").value = ""
            document.getElementById('monto_procesar').value = ""
            document.getElementById('banco_destino').removeAttribute("required")
        } // fin forma 8


    } // fin mostrar campos

    checkPattern("monto")
    checkPattern("monto_procesar")
    checkPattern("tasa")

    document.getElementById('tasa').value = darFormato(document.getElementById('tasa').value)

    // formatear entrada
    function checkPattern(e) {
        $("#" + e).on({
            "focus": function (event) {
                $(event.target).select()
            },
            "keyup": function (event) {
                $(event.target).val(function (index, value) {
                    return value.replace(/\D/g, "")
                        .replace(/([0-9])([0-9]{2})$/, '$1,$2')
                        .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".")
                })
            }
        })
    } // fin formatear entrada

    // calculara monto en dolares
    function Calcular() {

        if ((document.getElementById('forma').value == "1") || (document.getElementById('forma').value == "4")) {
            let m_nro = quitarFormato(document.getElementById('monto').value) * 1
            let t_nro = quitarFormato(document.getElementById('tasa').value) * 1
            let m_p = (m_nro / t_nro)
            // console.log("m_nro:", m_nro, t_nro)
            if (m_p < 0.01) {
                return false
            }
            document.getElementById('monto_procesar').value = darFormato(m_p)
        }
        obtener_saldos()
    } // fin calculara monto en dolares


    //  obtener los saldos 
    function obtener_saldos() {
        
        // if (document.getElementById('monto_procesar')) {
            // Muestro la tabla 
            document.getElementById('nota').style.display = 'block'
            document.getElementById('tabla_saldos').style.display = 'inline-table'
            let id = document.getElementById('cliente').dataset.cliente_id
        // }else{
        //     document.getElementById('tabla_saldos').style.display = 'none'
        //     document.getElementById('nota').style.display = 'none'
        //     return
        // }

        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        })
        $.ajax({
            url: "{% url 'obtener_saldos' %}",
            type: 'POST',
            data: {
                'id': id,
            },
            datatype: 'json',
            success: function (data) {
                html = ""
                let S = 0
                $.each(data, function (key, item) {
                    saldo_monto = darFormato(item.saldo)
                
                    // id = (item.concepto)
                    // id_concepto = id.toString().padStart(10, '0')
                    num = item.numero.padStart(10, '0')
                    html +=
                        `<tr>
                            <td style="width:50px">${num}
                            </td>
                            
                            <td style="width:200px">
                               ${item.vencimiento} 
                            </td>
                               
                            <td style="width:70px">
                                <input readonly id="saldodoc-${item.id}" name="saldodoc-${item.id}"
                                value=${saldo_monto} class="form-control input-numero alto">
                            </td>
                            
                            <td style="width:70px">
                                <input id="monto${item.id}" placeholder="0,00" maxlength="9" 
                                onChange="aplicarPago(${item.id})"
                                name="monto_ingresado-${item.id}" data-saldo="${saldo_monto}" 
                                class="form-control input-numero alto table-input">
                            </td>
                        </tr>`
                    S += parseFloat(item.saldo) // Acumulador de total saldo
                })
                let sf = darFormato(S)
                let v = document.getElementById("monto_procesar").value
                
                html +=
                    `<tr>
                        <td colspan="2">
                        </td>
                        <td>
                            <input id="total-saldo" class="form-control input-numero alto" 
                            value=${sf} readonly>
                         </td>
                        <td>
                            <input id="residuo"  class="form-control input-numero alto"
                            style="color: #1977cc" 
                            value=${v} readonly>
                        </td>
                    </tr>`
                // Pintando la tabla
                $('#tabla_saldos-tbody').html(html)
                $.each(data, function (key, item) {
                    checkPattern(`monto${item.id}`)
                })
                // Verificando si hay excedente    
                // var operarV = quitarFormato(v) * 1
                // var operarSf = quitarFormato(sf) * 1
                // if (operarV > operarSf) {
                //     var exced = operarV - operarSf
                //     $.each(data, function (key, item) {
                //         document.getElementById(`monto${item.concepto}`).value = darFormato(item.saldo_monto)
                //         if (key == (data.length - 1)) {  // Si es el ultimo
                //             let operarS = item.saldo_monto * 1 + exced
                //             document.getElementById(`monto${item.concepto}`).value = darFormato(operarS)
                //             document.getElementById('residuo').value = darFormato(0)
                //             document.getElementById('id_descripcion').focus()
                //         }
                //         document.getElementById(`monto${item.concepto}`).readOnly = true
                //     })
                // } else {
                //     $.each(data, function (key, item) {
                //         checkPattern(`monto${item.concepto}`)
                //         //document.getElementById(`monto${data[0].concepto}`).focus()
                //         document.getElementById('id_fecha').focus()
                //     })
                // }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText)
            }
        })
    } //  fin obtener los saldos 

    // funcion para aplicar los pagos
    function aplicarPago(id) {
        // console.log("id:",id)
        FormatearNumerosInputs(document.getElementById('monto' + id));
        let inputs = document.getElementsByClassName("table-input");
        let ultimo = inputs.length
        // console.log("Cantidad de inputs:", ultimo)
        let totalinputs = 0.00;
        let r = quitarFormato(document.getElementById("residuo").value) * 1;
        //console.log("Disponible para abonar", r)
        $.each(inputs, function (key, item) {
            //console.log('Key del obj:', key, "Parametro", id, 'Input_id', item.id, "Valor", item.value)
            //if (item.value != "") {
            let tmpM = quitarFormato(item.value) * 1;
            let tmpS = quitarFormato(item.dataset.saldo) * 1;
            //  console.log(tmpM, "Monto posible", tmpS)
            if (tmpM > tmpS) {
                tmpM = tmpS
                document.getElementById('monto' + id).value = darFormato(tmpM)
            }

            totalinputs += quitarFormato(item.value) * 1;
            //console.log("Total ingresado", totalinputs)

        })
        let montoprocesar = quitarFormato(document.getElementById("monto_procesar").value) * 1;
        let saldo_residuo = montoprocesar - totalinputs;
        document.getElementById("residuo").value = darFormato(saldo_residuo);
        //console.log("Disponible para abonar", saldo_residuo)
    } // aplicar pagos


    // validar formulario
    function validar(e) {
        const form = document.getElementById('pago_documentos') // tomo el nombre del formulario

        if (form.checkValidity()) {

            e.preventDefault()

            // validar referencia 
            var existe = false
            let campo = $('#id_referencia').val()
            $.ajax({
                url: "{% url 'validar_referencia' %}",
                type: 'POST',
                async: false,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'campo': campo,
                },
                datatype: 'json',
                success: function (data) {
                    // console.log('RESULTADO', data.status, typeof data.status)
                    existe = data.status
                },
                error: function (xhr, status, error) {
                }
            })
            if (existe) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Esta Referencia ya esta rigistrada' + ' Verifique...!',
                    showDenyButton: true,
                    // showCancelButton: true,
                    confirmButtonText: "Continuar",
                    denyButtonText: `Descartar`
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Condirmar
                        let c = document.getElementById('cliente').value
                        let m = document.getElementById('monto_procesar').value
                        Swal.fire({
                            title: '¿ Esta seguro de abonar ?',
                            html: `<h1>${m}$</h1><br>A ${c} `,
                            showDenyButton: true,
                            // showCancelButton: true,
                            confirmButtonText: "Guardar",
                            denyButtonText: `Descartar`
                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.getElementById('pago_documentos').submit()
                            } else {
                                return false
                            }
                        }) // fin Confirmar
                    } else {
                        return false
                    }
                })
            } else {
                // Condirmar
                let c = document.getElementById('cliente').value
                let m = document.getElementById('monto_procesar').value
                Swal.fire({
                    title: '¿ Esta seguro de abonar ?',
                    html: `<h1>${m}$</h1><br>A ${c} `,
                    showDenyButton: true,
                    // showCancelButton: true,
                    confirmButtonText: "Guardar",
                    denyButtonText: `Descartar`
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('pago_documentos').submit()
                    } else {
                        return false
                    }
                })// fin Confirmar
            }//validar referencia 

            // validar pendiente
            let rTmp2 = quitarFormato(document.getElementById("total-saldo").value) * 1;
            let rTmp3 = quitarFormato(document.getElementById("monto_procesar").value) * 1;
            if (rTmp3 > rTmp2 ) {
                // document.getElementById("residuo").focus();
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'El Monto a procesar debe ser menor que el pendiente. Verifique...!',
                    showConfirmButton: true,
                    //timer: 2500
                })
                return;
            }  // fin validar pendiente

             // validar residuo
            let rTmp = quitarFormato(document.getElementById("residuo").value) * 1;
            if (rTmp != 0) {
                document.getElementById("residuo").focus();
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'El Monto residuo en azul debe quedar en 0,00. Verifique...!',
                    showConfirmButton: true,
                    //timer: 2500
                })
                return;
            }  // fin validar residuo

          
        }// fin de checkValidity()

        

    } // fin validar formulario

    window.addEventListener("load", (event) => {
        if( document.getElementById('hoy')){
            hoy.click();
        }
    });

      // Preview de comprobante
    const input = document.getElementById('comprobante');
    const verBtn = document.getElementById('ver_comprobante');
    const modalImg = document.getElementById('modal_img_comprobante');

    input.onchange = function(evt) {
        const [file] = this.files;
        if (file) {
            modalImg.src = URL.createObjectURL(file);
            verBtn.style.display = 'inline-block'; // mostrar botón
        } else {
            verBtn.style.display = 'none'; // ocultar si se borra selección
        }
    };

    verBtn.onclick = function() {
        const modal = new bootstrap.Modal(document.getElementById('modalComprobante'));
        modal.show();
    };
  
      
</script>
{% endblock Scripts_Adicionales %}