// var forma_select = document.getElementById("forma")
// var id_forma = forma_select.options[forma_select.selectedIndex].value

ALTER SEQUENCE app_gestion_pago_detalle_id_seq RESTART

#hacer backup en mi maquina
pg_dump --host localhost --port 5432 --username "postgres" --format custom --file "C:/Projects/03/3W/3w_backup1.sql"
"3w_db"

<td><a href="javascript:abrir_modal()">{{xDocumento.fecha|date:"d/m/y"}} </a></i></td>

^$\n

<option value={{xCredito.id}} data-forma_id="{{xCredito.dia}}">
    {{xCredito.dia}}
</option>
xForma = document.getElementById('forma').dataset.forma_id

credito_select = document.getElementById('credito');
d = credito_select.options[credito_select.selectedIndex].dataset.dias_credito

// var hoy = new Date()
// // Extraer el año, mes y día
// var año = hoy.getFullYear();
// var mes = ('0' + (hoy.getMonth() + 1)).slice(-2); // Meses empiezan en 0
// var dia = ('0' + hoy.getDate()).slice(-2);
// // Formatear la fecha como YYYY-MM-DD
// var fecha_hoy = `${año}-${mes}-${dia}`;

// quitra cosas al data table
// "paging": false,
// "info": false,
// "bFilter": false,

// Para eliminar elmemntos del dom su es pantalla pequena
function revisarTamañoPantalla() {
var elemento = document.getElementById('filtro2');

if (window.innerWidth <= 600) { // Quitar la clase cuando el ancho de la pantalla es 600px o menos
    elemento.classList.remove('d-flex'); } else { // Agregar la clase de nuevo cuando el ancho de la pantalla es mayor a
    600px elemento.classList.add('d-flex'); } } // Revisar el tamaño de pantalla cuando la ventana se redimensiona
    window.addEventListener('load', revisarTamañoPantalla); <!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Enviar PDF por WhatsApp</title>
    </head>

    <body>
        <input type="file" id="fileInput" />
        <button id="shareButton">Enviar por WhatsApp</button>

        <script>
            async function sharePDF(file) {
                try {
                    const shareData = {
                        files: [file],
                    };
                    console.log('Intentando compartir el archivo:', shareData);
                    if (navigator.canShare && navigator.canShare(shareData)) {
                        await navigator.share(shareData);
                        console.log('Archivo compartido con éxito.');
                    } else {
                        console.log('Tu navegador no admite compartir archivos.');
                    }
                } catch (error) {
                    console.log('Error al compartir el archivo:', error);
                }
            }

            document.getElementById('shareButton').addEventListener('click', () => {
                const fileInput = document.getElementById('fileInput');
                if (fileInput.files.length === 0) {
                    alert('Por favor selecciona un archivo PDF.');
                    return;
                }
                const file = fileInput.files[0];
                console.log('Archivo seleccionado:', file);
                sharePDF(file);
            });


           
        </script>
    </body>

    </html>



    <a href="#"> <i style="font-size: small;" class="bi bi-search" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-html="true" data-bs-title="{{xDocumento.cliente__nombre}}<br>"></i>
    </i></a>


    document.getElementById('searchInput').addEventListener('input', function() {
        var keyword = this.value.toLowerCase();
        var select = document.getElementById('cliente');
        var options = select.getElementsByTagName('option');
    
        for (var i = 0; i < options.length; i++) {
            var option = options[i];
            if (option.value.toLowerCase().includes(keyword) || option.text.toLowerCase().includes(keyword)) {
                option.style.display = 'block';
            } else {
                option.style.display = 'none';
            }
        }
        select.focus();
        });



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
        
         <label id="m" class="titulos d-flex me-2 mt-1">Cliente</label>
        <select id="select-state">
            <option value="0" selected>Todos</option>
                {% for xCliente in xClientes %}
                <option value={{xCliente.id}} {% if xCliente.id == xCliente_seleccionado %} selected
                    {%endif %}>
                    {{xCliente.nombre}}
                </option>
                {% endfor %}
        </select> 

        <script>
           $(document).ready(function() {
            $('select').selectize({
                // sortField: 'text',
                theme: 'bootstrap5',
            });
        });
        </script>