Obetener Comisiones por rango para pruebas

{% extends "base.html" %}
{% load static %}
{% block content %}
@login_required 
def obtener_comisionesView(request):
    xFecha_ini_comprable = datetime.strptime(request.POST.get('fecha_ini'), '%Y-%m-%d').date()
    xFecha_fin_comprable = datetime.strptime(request.POST.get('fecha_fin'), '%Y-%m-%d').date()
    
    # 1) Buscar docuemntos
    qDocumentos = Documento.objects.filter(
    cliente__vendedor=request.POST.get('vendedor_id'),
    cliente__comisionable='Si' # cleintes comisionables
      # que no se haya liquidado
    ).annotate(
        saldo=F('monto') - F('abonado')
    ).filter(
        saldo__lte=0 # con saldo 0
    ).values(
        'id', 'fecha', 'numero', 'cliente__nombre', 'monto', 'saldo', 'dias_v'
    ).order_by(
        'fecha', 'numero'
    )

    # 2) iterar bs
    data = []
    data_lista_bs = []  
  
    for xAsiento in qDocumentos:
        # busca la fecha_ult_pago
        resultado = buscar_fecha_pagado(xAsiento["id"])

        # Salta si no hay fecha
        if not resultado or not resultado['fecha_ult_pago']:
            continue  

        # 2) Salata los fuera del rango
        if resultado['fecha_ult_pago'] < xFecha_ini_comprable or resultado['fecha_ult_pago'] > xFecha_fin_comprable:
            continue
        # nueva logica
        # if resultado['fecha_ult_pago'] < xFecha_ini_comprable - timedelta(days=7):
        #     continue

        # if xAsiento["id"] != 979:
        #     continue

        # print("Doc en rango:", xAsiento['numero']," pagado el: ", resultado['fecha_ult_pago'] )
        
        # Buscar sus pagos
        pagos = buscar_pagos(xAsiento["id"]) 

        for pago in pagos:
            xAsiento["fecha_doc"] = xAsiento['fecha']
            xAsiento["documento"] = xAsiento['numero']
            xAsiento["pagado"] = resultado['fecha_ult_pago']
            xAsiento["en"] = 'Bs'
            xAsiento["tasa"] = pago[0]
            xAsiento["base"] = pago[1]
            # print("fila a agregar: ", xAsiento["tasa"], xAsiento["base"])
            data_lista_bs.append(xAsiento.copy())

        data = list(data_lista_bs)

    return JsonResponse(data, safe=False)

@login_required 
def obtener_comisiones2View(request):
    xFecha_ini_comprable = datetime.strptime(request.POST.get('fecha_ini'), '%Y-%m-%d').date()
    xFecha_fin_comprable = datetime.strptime(request.POST.get('fecha_fin'), '%Y-%m-%d').date()
    
    # 1) Filtrar documentos 
    qDocumentos = Documento.objects.filter(
    cliente__vendedor=request.POST.get('vendedor_id'),
    cliente__comisionable='Si',
       
    ).annotate(
        saldo=F('monto') - F('abonado')
    ).filter(
        saldo__lte=0
    ).values(
        'id', 'fecha', 'numero', 'cliente__nombre', 'monto', 'saldo', 'dias_v'
    ).order_by(
        'fecha', 'numero'
    )
    
    # 2) Iterar usd 
    data_lista_usd = []  
    data2 = []
    for xAsiento in qDocumentos:
        # busca la fecha_ult_pago
        resultado = buscar_fecha_pagado(xAsiento["id"])

        # Salta si no hay fecha
        if not resultado or not resultado['fecha_ult_pago']:
            continue  

        # 2) Salata los fuera del rango
        if resultado['fecha_ult_pago'] < xFecha_ini_comprable or resultado['fecha_ult_pago'] > xFecha_fin_comprable:
            continue
        # if resultado['fecha_ult_pago'] < xFecha_ini_comprable - timedelta(days=7):
        #     continue

        # if xAsiento['numero'] != '00026071':
        #     continue
        #print("Doc en rango:", xAsiento['numero']," pagado el: ", resultado['fecha_ult_pago'] )
        
        # Buscar sus pagos
        pagos2 = buscar_pagos2(xAsiento["id"]) 
        
        for pago2 in pagos2:
            xAsiento["fecha_doc"] = xAsiento['fecha']
            xAsiento["documento"] = xAsiento['numero']
            xAsiento["pagado"] = resultado['fecha_ult_pago']
            xAsiento["en"] = 'Bs'
            xAsiento["tasa"] = '-'
            xAsiento["base"] = pago2['total_monto']  
            
            data_lista_usd.append(xAsiento.copy())  # Muy importante para evitar referencias al mismo dict

        data2 = list(data_lista_usd)

    return JsonResponse(data2, safe=False)